<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  ng-app="cadCliente">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro cliente</title>
	<link rel="icon" type="../static/imagens/icone.png" th:href="@{/imagens/icone.png}" />
	 <!-- INICIO BOOTSTRAP -->
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bo	otstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	 <!-- FIM BOOTSTRAP -->
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}" />	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	
</head>
<body ng-controller="meuController">
		<img th:src="@{/imagens/icone.png}" alt="Icone Cadastro" style="width:41px;height:44px" />
		<h4>Cadastro de clientes</h4>
	<hr />
		<!-- th:action="@{/greeting}" th:object="${greeting}"  -->
		<!-- form class="form-horizontal" action="#" th:action="@{/cadastro/salvarTeste}" th:object="${PessoaFto}" method="post" -->
		
		<a th:href="@{/cliente/form}">Cadastrar novo cliente</a>
		<!-- <br />
		<a th:href="@{/vendedor/form}">Cadastrar novo cliente</a>
		<br />
		<a th:href="@{/atacado/form}">Cadastrar novo cliente</a>
		 -->
<!-- 		
		<div ng-controller="meuController">
	      <label>Nome:</label>
	      	<input type="text" class="form-control" ng-model="seuNome" placeholder="Digite o seu nome" />
	       <div class="col-md-12">
		       <h3 ng-show="exibe(seuNome)">Olá {{seuNome}}</h3>
		  </div>    
	    </div> 
 -->	      
    <hr />
    <script>
    window.onload = function() {
    	  console.log('window - onload'); // 4th
    	};
    document.onload = function() {
    	  console.log('document - onload'); // DOES NOT HAPPEN
    	};
    	angular.module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache']).controller('AppCtrl', function() {
    	  this.myDate = new Date();
    	  this.isOpen = false;
    	});
    	
		var app = angular.module('cadCliente',[]);
		
		app.controller('meuController', function($scope){
			$scope.data = new Date();
			$scope.exibe = function(seuNome){
				return seuNome ? true : false;
			};
		});
	</script>
</body>
</html>