<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  ng-app="homeCadCliente">
	<head>
		<title>Cadastro cliente</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="icon" type="../static/imagens/favicon.png" th:href="@{/imagens/favicon.png}" sizes="16x16"/>

	 	<!-- INICIO BOOTSTRAP -->
	 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
	 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		 	
	 	<!-- FIM BOOTSTRAP -->
	 	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}" />	
	 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<style>
			ul{
				list-style-type: none;
			}
		</style>
	 	
	</head>
	<body>
		<img th:src="@{/imagens/icone.png}" alt="Icone Cadastro" style="width:41px;height:44px" />
		<h4>LISTA PESSOAS</h4>
		<hr />
			<div layout:fragment="content">
		      <table class="table table-bordered table-striped">
		        <thead>
		        	<tr>
		            	<td>ID</td>
						<td>NOME</td>
						<td>DATA NASCIMENTO</td>
						<td>CPF</td>
						<td>ESTADO CIVIL</td>
						<td>RG</td>
						<td>SEXO</td>
						<td>TIPO ENDERECO</td>
		          	</tr>
		        </thead>
		        <tbody>
		        	<tr th:each="pessoa : ${pessoas}">
		            	<td th:text="${pessoa.id}">0</td>
						<td th:text="${pessoa.nome}">2</td>
						<td th:text="${#calendars.format(pessoa.dataNascimento, 'dd/MM/yyyy')}">3</td>
						<td th:text="${pessoa.cpf}">4</td>
						<td th:text="${pessoa.estadoCivil}">5</td>
						<td th:text="${pessoa.rg}">6</td>
						<td th:text="${pessoa.sexo}">7</td>
						<td th:text="'0'">8</td>
		          	</tr>
		        </tbody>
		      </table>
		      <br />
		      <hr />
		      Endereços
		      
		        <div th:each="pessoa : ${pessoas}">
		        	<ul th:each="endereco : ${pessoa.enderecos}">
		        		<li th:text="${endereco.pessoa.nome}" ></li>
		        		<li th:text="${endereco.tipoEndereco}" ></li>
		        		<li th:text="${endereco.rua}" ></li>
		        		<li th:text="${endereco.numero}" ></li>
		        		<li th:text="${endereco.cep}" ></li>
		        		<li th:text="${endereco.bairro}" ></li>
		        		<hr />
		    	    	<br />
		        	</ul>
		        	
		        </div>
		    </div>
	    <hr />
	</body>
</html>