<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  ng-app="cadCliente">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro cliente</title>
	<link rel="icon" type="../static/imagens/icone.png" th:href="@{/imagens/icone.png}" />
	 <!-- INICIO BOOTSTRAP -->
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	 <!-- FIM BOOTSTRAP -->
	 <link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}" />	
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	
	<style type="text/css">
		fieldset { 
		    display: block;
		    margin-left: 10px;
		    margin-right: 10px;
		    padding-top: 0.35em;
		    padding-bottom: 0.625em;
		    padding-left: 0.75em;
		    padding-right: 0.75em;
		    border: 2px groove (internal value);
		}
	</style>
</head>
<body ng-controller="meuController">
		<!-- th:action="@{/greeting}" th:object="${greeting}"  -->
		<form class="form-horizontal" action="#" th:action="@{/cliente/salvar}" th:object="${fto}" method="post" >
			<img th:src="@{/imagens/cadastro-clientes.png}" alt="Icone Cadastro" style="width:41px;height:44px" />
			<h4>Cadastro de clientes</h4>
		
			<div th:if="${#fields.hasErrors('*')}">
				<br />
				<div class="alert alert-danger fade in">
				Erro!
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<hr />
					<ul th:if="${#fields.hasErrors('*')}">
					  <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
					</ul>
			  		
				</div>
			</div>
		<hr />
			<fieldset>
			<legend>Dados Pessoais</legend>
			<div class="form-group">
				<div class="col-md" th:classappend="${#fields.hasErrors('cpf')}? 'has-error'">
					<label class="control-label col-sm-2" for="cpf">CPF:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" placeholder="informe o CPF" th:field="*{cpf}"
						data-error="Por favor, informe o correto." th:required="required"/>
					</div>
				</div>
			</div>
			<div class="form-group" >
				<div class="col-md" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
					<label class="control-label col-sm-2" for="nome">Nome:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="nome" placeholder="informe o nome" th:field="*{nome}" />
					</div>
				</div>
			</div>
			<div class="form-group" >
				<div class="col-md" th:classappend="${#fields.hasErrors('dataNascimento')}? 'has-error'">
					<label class="control-label col-sm-2" for="nome">Data Nascimento:</label>
					<div class="col-sm-3">
						<input type="text" data-th-field="*{{dataNascimento}}" /> 
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md" th:classappend="${#fields.hasErrors('endereco.cep')}? 'has-error'">
					<label class="control-label col-sm-2" for="cep">CEP:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" placeholder="informe o CEP" th:field="*{endereco.cep}"/>
					</div>
				</div>	
			</div>
			<!-- div class="form-group" >
				<label class="control-label col-sm-2" for="identidade">Identidade:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="identidade" placeholder="Informe a identidade" name="identidade" />
				</div>
				<label class="control-label col-sm-2" for="naturalidade">Naturalidade:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="naturalidade" placeholder="Informe a Naturalidade" name="naturalidade" />
				</div>
			</div -->
			</fieldset>
			<div class="form-group" >
				<div class="control-label col-sm-6">
					<button type="submit" class="btn btn-success">Salvar</button>
					<button type="reset" class="btn btn-warning">Limpar</button>
					<button type="submit" class="btn btn-danger">Cancelar</button>
				</div>
			</div>
		</form>
		
<!-- 		
		<div ng-controller="meuController">
	      <label>Nome:</label>
	      	<input type="text" class="form-control" ng-model="seuNome" placeholder="Digite o seu nome" />
	       <div class="col-md-12">
		       <h3 ng-show="exibe(seuNome)">Olá {{seuNome}}</h3>
		  </div>    
	    </div> 
 -->	      
    <hr />
    <script>
    window.onload = function() {
    	  console.log('window - onload'); // 4th
    	};
    document.onload = function() {
    	  console.log('document - onload'); // DOES NOT HAPPEN
    	};
    	angular.module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache']).controller('AppCtrl', function() {
    	  this.myDate = new Date();
    	  this.isOpen = false;
    	});
    	
		var app = angular.module('cadCliente',[]);
		
		app.controller('meuController', function($scope){
			$scope.data = new Date();
			$scope.exibe = function(seuNome){
				return seuNome ? true : false;
			};
		});
	</script>
</body>
</html>