<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  ng-app="homeCadCliente">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro cliente</title>
	<link rel="icon" type="../static/imagens/icone.png" th:href="@{/imagens/icone.png}" />
	
		 <!-- INICIO BOOTSTRAP -->
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		 <!-- FIM BOOTSTRAP -->
		<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}" />	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		
	</head>
	<body ng-controller="hello">
			<img th:src="@{/imagens/icone.png}" alt="Icone Cadastro" style="width:41px;height:44px" />
			<h4>SISTEMA DE CADASTRO</h4>
		<hr />
			<div class="form-group">
				<div class="control-label col-sm-4">
					<p>!!!Página não encontrada!!! 404</p>
				</div>
			</div>
		<br/>	
	    <hr />
	</body>
</html>